* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  border: 10px solid springgreen;
  position: relative;
}
/*
, body, .container {
  height: 100%;
}*/

html {
  border: 3px solid green;
}

body {
  background-image: url("../img/cork-board.jpg");
  /*border: 3px solid hotpink;*/
}

/*.moveable-polaroid {
  position: absolute;
  top: 30%;
  left: 24%;
}*/

.polaroid {
  width: 340px;
  height: 407px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#snail {
  height: 305px;
  width: 305px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.pin {
  height: 40px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1
}

#one {
  position: relative;
  width: inherit;
}

#two {
  position: absolute;
  width: 113%;
  transform: translate(-4%, -3%);
}

#three {
  position: absolute;
  width: 125%;
  transform: translate(-8.75%, -6%);
}

#four {
  position: absolute;
  width: 139%;
  transform: translate(-13%, -9%);
}

#five {
  position: absolute;
  width: 153%;
  transform: translate(-16%, -12%);
}

#six {
  position: absolute;
  width: 167%;
  transform: translate(-18.5%, -14%);
}
